boto3==1.42.49
botocore==1.42.49
fastapi[standard]==0.129.0
langchain_community==0.4.1
langchain_core==1.2.13
langchain_google_genai==4.2.0
langchain_postgres==0.0.16
langchain_text_splitters==1.1.0
passlib==1.7.4
pgvector==0.3.6
psycopg==3.3.2
pydantic==2.12.5
PyJWT==2.11.0
python-dotenv==1.2.1
SQLAlchemy==2.0.46
sqlmodel==0.0.33
psycopg2